DEEPSEEK_API_KEY=
#deepseek的apikey
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-v4-flash
MEMORY_MODEL=deepseek-v4-flash

SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USER=#QQ邮箱
SMTP_PASS=#16位密钥